<div id='signatures' class="affiliation-signatures hidden-xs">
  <h2 class='header'><%= t :signatures -%></h2>

  <div class='content clearfix'>
    <div id='signatures-filter' class='clearfix'>
      <%= form_tag filter_action_page_path(@actionPage), method: 'get' do %>
        <div id='institution-select-container'>
          <%= collection_select nil, :institution_id, @top_institutions, :id, :name,
          { prompt: t(:filter_by_institution),
            selected: @institution ? @institution.id : "" },
          { class: 'form-control institution',
            style: 'width: 100%',
            "aria-label": t(:filter_by_institution),
            "data-institutions": @institutions.to_json(only: [:id, :name]) }
          -%>
          <% if @institution %>
            <%= link_to 'remove filter', action_page_path, class: 'pull-right small' -%>
          <% end %>
        </div>
        <%= submit_tag 'Filter', class: 'eff-button' %>
      <% end %>
    </div>

    <% if @institution %>
      <div id="institution-header">
        <h3><%= @institution.name %></h3>
        <h4><%= @institution_signature_count %> signatures</h4>
      </div>
    <% end %>

    <%= render(partial: "tools/signatures", layout: false) %>
  </div>
</div>
