<div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 pull-right tools-wrapper">
  <div id="tools" >
    <% if @actionPage.victory? -%>
      <%= render "tools/victory"  %>
    <% elsif @actionPage.archived? -%>
      <%= render "tools/archived" if @actionPage.archived? %>
    <% else -%>
      <%= render "tools/petition", petition: @actionPage.tool(:petition) if @actionPage.tool(:petition) %>
      <%= render "tools/call" if @actionPage.enable_call? && @actionPage.call_campaign %>
      <%= render "tools/email" if @actionPage.enable_email? && @actionPage.email_campaign %>
      <%= render "tools/congress_message" if @actionPage.enable_congress_message? && @actionPage.congress_message_campaign %>
      <%= render "tools/tweet" if @actionPage.enable_tweet? && @actionPage.tweet %>
      <%= render "tools/mailing_list" if @no_tools == true %>
    <% end -%>
    <div id='share-buttons-wrapper'>
      <div id="share-buttons">
        <a data-network="twitter" href="<%= twitter_share_url(@actionPage) -%>" count="0" target="_blank" class="twitter-button" >
            <div class="sicon" id="stwit"></div>
        </a>
        <a href="<%= facebook_share_url(@actionPage) -%>" data-network="facebook" count="0" target="_blank" class="facebook-button">
            <div class="sicon" id="sfb"></div>
        </a>
        <a count="0" href="<%= google_share_url(@actionPage) -%>" data-network="googleplus" target="_blank" class="google-button">
          <div class="sicon" id="sgplus"></div>
        </a>
      </div>
    </div>
  </div>
</div>
