<div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 pull-right tools-wrapper">
  <div id="tools" >
    <%= form_tag("/tools/congress_message_campaign", method: :post, class: "congress_message_campaign-tool") do %>
      <%= cache_if(should_cache_action_tool?, cache_key_for_action_tool) do %>
        <% if @actionPage.victory? -%>
          <%= render "tools/victory"  %>
        <% elsif @actionPage.archived? -%>
          <%= render "tools/archived" if @actionPage.archived? %>
        <% elsif @tool -%>
          <%= render "tools/#{@tool.class.name.underscore}",
                @tool.class.name.underscore.to_sym => @tool %>
        <% end -%>
  
        <div id="share-buttons-wrapper">
          <div id="share-buttons">
            <a data-network="twitter" href="<%= twitter_share_url(@actionPage) -%>" count="0" target="_blank" class="twitter-button" >
                <div class="sicon" id="stwit"></div>
            </a>
            <a href="<%= facebook_share_url(@actionPage) -%>" data-network="facebook" count="0" target="_blank" class="facebook-button">
                <div class="sicon" id="sfb"></div>
            </a>
            <a count="0" href="<%= google_share_url(@actionPage) -%>" data-network="googleplus" target="_blank" class="google-button">
              <div class="sicon" id="sgplus"></div>
            </a>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if (Tweet === @tool || @no_tools) && !current_user %>
      <div class="tool">
        <div class="tool-body">
          <%= form_for :subscription, url: subscriptions_path, remote: true, html: { class: "newsletter-subscription tool-container" } do |f| %>
            <%= t :sign_up_for_mailings_from %> <b><%= t :organization_abbreviation %></b>?

            <fieldset>
              <%= f.email_field :email, class: "form-control", placeholder: "Email", required: "email", "aria-label": "Email" %>
            </fieldset>

            <%= render "tools/petition_location", f: f %>

            <%= render "tools/privacy_notice" %>

            <%= f.submit "Sign up", class: "btn btn-primary action" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

