<div id='email-tool' class="tool">
  <div class="tool-container">
    <div class="tool-heading">
      <h2 class="tool-title">Take action</h2>
      <% if params.include?('non_us_option') and params['non_us_option'] == "petition" %>
        <h3 id="non-us-option">Not in the U.S.?</h3>
      <% end %>
    </div>

    <div class="tool-body" id="target-email">
      <p>Send this email:</p>

      <fieldset disabled>
        <textarea class="form-control" rows="14"><%= @email_campaign.message %></textarea>
      </fieldset>

      <%= render "tools/newsletter_signup" if current_user.nil? %>

      <%= link_to tools_email_target_path(
          action_id: @actionPage.id,
          service: 'default'),
          target: '_blank',
          class: 'btn btn-red email-action' do -%>
             <i class="icon-mail"></i> Open using default mail client
      <% end %>

      <p class="small">Or send using:</p>

      <!--
      <%= link_to tools_email_target_path(
          action_id: @actionPage.id,
          service: 'yahoo'),
          target: '_blank',
          class: 'btn btn-sm btn-red-outline email-action' do -%>
             <i class="icon-yahoo"></i> Yahoo Mail
      <% end %>
      -->

      <%= link_to tools_email_target_path(
          action_id: @actionPage.id,
          service: 'gmail'),
          target: '_blank',
          class: 'btn btn-sm btn-red-outline email-action' do -%>
             <i class="icon-google"></i> Gmail
      <% end %>

      <%= link_to tools_email_target_path(
          action_id: @actionPage.id,
          service: 'hotmail'),
          target: '_blank',
          class: 'btn btn-sm btn-red-outline email-action' do -%>
             <i class="icon-windows"></i> Outlook
      <% end %>
      <br>
      <%= link_to tools_email_target_path(
          action_id: @actionPage.id,
          service: 'copy'),
          target: '_blank',
          id: 'copy-email-action',
          data: {
            :'clipboard-target' => 'email_target_text',
            :placement => 'bottom',
            :toggle => 'tooltip',
            :title => 'Copied!',
            :trigger => 'click',
          },
          class: 'btn btn-sm btn-red-outline email-action' do -%>
             <i class="icon-copy"></i> Copy to Clipboard
      <% end %>
      <div id='email_target_text'><%= render 'tools/email_target_text' %></div>

      <%= render 'tools/share' -%>
    </div>
  </div>
</div>

<div class="update-user-data-container" style="display: none;">
  <% if current_user %>
  <div class="checkbox small">
      <label for="update_user_data">    <input checked="checked" id="update_user_data" name="update_user_data" type="checkbox" value="yes">    Save my name and address for next time.</label>
  </div>
  <% end %>
</div>
