<% if current_user.nil? %>
  <div class="email-signup text-left without-js">
    <%= t :i -%>
    <input type="radio" name="subscribe" value="1" <%= "checked" if params[:subscribe] == "1" -%> id="do-subscribe" >
    <label class="radio-inline" for="do-subscribe"><%= t :want -%></label>
    <input type="radio" name="subscribe" value="0" <%= "checked" unless params[:subscribe] == "1" -%> id="do-not-subscribe">
    <label class="radio-inline" for="do-not-subscribe"><%= t :do_not_want -%></label>
    <%= t :to_sign_up_for_mailings_from -%> <b><%= t :organization_abbreviation -%></b>
  </div>
<% end %>

<% @actionPage.partners.each do |partner| %>
  <div class="email-signup partner text-left without-js">
    <%= t :i -%>

    <%= radio_button_tag "#{partner.code}_subscribe", 1 %>
    <%= label_tag "#{partner.code}_subscribe_1", t(:want), class: "radio-inline" %>
    <%= radio_button_tag "#{partner.code}_subscribe", 0, true %>
    <%= label_tag "#{partner.code}_subscribe_0", t(:do_not_want), class: "radio-inline" %>

    <%= t :to_sign_up_for_mailings_from -%> <b><%= partner.name -%></b>
    (<%= link_to 'privacy policy', partner.privacy_url -%>).
  </div>
<% end %>
