<div class="tool mailing-list-tool">
  <div class="tool-container">
    <div class="tool-heading">
      <h2 class="tool-title">
        Join the mailing list
      </h2>
    </div>
    <div class="tool-body">
      <%= form_for :subscription, url: subscriptions_path, remote: true,
                    html: { id: "subscription-form", class: "", role: "form" } do |f| -%>
        <%= invisible_captcha %>
        <%= token_tag(form_authenticity_token) %>
        <%= f.hidden_field :mailing_list, value: "effector" -%>
        <fieldset>
          <%= f.email_field :email, id: :email, value: current_email,
                            class: "form-control", placeholder: "Email", "aria-label": "Email" -%>
        </fieldset>
        <%= f.submit "Subscribe", class: "eff-button", name: "commit" -%>
      <% end %>
    </div>
  </div>
</div>
