<fieldset id='location' data-international-only="<%= params[:international_only] %>" <%= 'class=require' if @require_location -%>>
  <span class='intl-toggle'>
    <div class="row">
      <div>
        <%= f.text_field :zipcode, class: 'form-control',
          placeholder: "#{t(:zip_code)} #{@require_location ? '' : t(:optional)}",
          'aria-label': t(:zip_code),
          title: t('petition_errors.required.zip_code') -%>
      </div>

          <span class='intl-toggler pull-right hidden-if-no-js eff-button'><%= t :outside_the_us -%></span>

    </div>
  </span>

  <div class='intl-toggle intl collapse'>
      <%= f.text_field :city, placeholder: t(:city), 'aria-label': t(:city),
        class: 'form-control input-pair', pattern: '.*\S+.*', title: t('petition_errors.required.city')
      -%>
      <span class='intl-toggler pull-right hidden-if-no-js eff-button'><%= t :in_the_us -%></span>
      <%= f.select :country_code, Places.country_codes, { prompt: t(:country) },
        class: 'form-control' -%>
  </div>
</fieldset>
