<div id="petition-tool" class="tool <%= 'un' unless current_user.try(:signed?, @actionPage.petition) || params[:thankyou] -%>signed" data-petition-id="<%= @actionPage.petition.id %>">
  <div class="tool-container">
    <div class="tool-heading">
      <h2 class="tool-title signed">
        Signed
      </h2>
      <h2 class="tool-title unsigned">
        <%= t :sign_the_petition -%>
      </h2>
    </div>

    <div class="tool-body">
      <%- if @petition.enable_affiliations -%>
        <div class='small tool-notice'>
          <%= t :name_and_affiliations_published -%>
        </div>
      <% end %>

      <div id="progress-bar">
        <%- if @actionPage.petition.goal && @actionPage.petition.goal > 0 -%>
          <div class='text'><b><%= @signature_count -%></b> /
            <span class='goal'><%= @actionPage.petition.goal -%> <%= t :signatures -%></span>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-danger signatures-bar" role="progressbar" aria-valuenow="<%= @signature_count -%>>" aria-valuemin="0" aria-valuemax="<%= @actionPage.petition.goal-%>" style="width: <%= @actionPage.petition.percent_complete -%>%">
            </div>
          </div>
        <% else %>
          <div class='text'><b><%= @signature_count -%></b><span class='goal'> <%= t :signatures -%></span></div>
        <% end -%>
      </div>

        <div class='signed'>
          <hr>
          <%= render 'tools/thank_you' -%>
        </div>
        <div class='unsigned'>
          <%= form_for @signature, url: tools_petition_path, html: {class: 'petition-tool'} do |f| -%>
            <%= invisible_captcha %>
            <%= f.hidden_field :petition_id -%>
            <input type="hidden" name="action_id" value="<%= @actionPage.id %>" />

            <fieldset>
              <%= f.email_field :email, required: true,
                class: 'form-control', pattern: '.*\S+.*', title: t('petition_errors.required.email'),
                'aria-label': 'Email', placeholder: 'Email'
              -%>
            </fieldset>
            <fieldset>
              <%= f.text_field :first_name, required: true,
                class: 'form-control', pattern: '.*\S+.*', title: t('petition_errors.required.first_name'),
                'aria-label': t(:first_name), placeholder: t(:first_name)
              -%>
            </fieldset>
            <fieldset>
              <%= f.text_field :last_name, required: true,
                class: 'form-control', pattern: '.*\S+.*', title: t('petition_errors.required.last_name'),
                'aria-label': t(:last_name), placeholder: t(:last_name)
              -%>
            </fieldset>

            <% if @actionPage.petition.enable_affiliations %>
              <div id='affiliations'>
                <%= f.fields_for :affiliations, Affiliation.new do |affiliation| %>
                  <%= render 'affiliations/affiliation_fields', :f => affiliation %>
                <% end %>
                <div class='links text-right with-js'>
                  <%= link_to_add_association "+ Add another #{@institution_category.downcase}", f, :affiliations, partial: 'affiliations/affiliation_fields' %>
                </div>
              </div>
            <% end %>

            <% if @require_location %>
              <%= render 'tools/petition_location', f: f %>
            <% end %>

            <fieldset>
              <% unless @petition.enable_affiliations %>


                    <%= check_box_tag 'signature[anonymous]' -%>
                    <%= f.label :anonymous, 'Don\'t add my name or city to this petition (we\'ll only list your country).'  -%>

              <% end %>

              <% unless @require_location %>
                <%= render 'tools/petition_location', f: f %>
              <% end %>
              <%= render "tools/newsletter_signup", email: false, location: false, privacy_notice: false %>
              <%= render 'tools/save_my_info_option', info: t(%w[email name location]) -%>

            </fieldset>

            <%= render "tools/privacy_notice" %>

            <% button_text = params.include?("button_text") ? params["button_text"].to_sym : t(:take_action) %>
            <%= f.submit button_text, class: 'eff-button'-%>
            <%= render 'tools/loading' -%>
          <% end %>
      </div>
    </div>
  </div>
</div>

<% if !@petition.enable_affiliations? -%>
  <div id='signatures' class="hidden-xs <%= 'ajax-update' unless params[:page] %>">
    <h4 class='header'><%= t :recent_signatories -%></h4>
    <%= render(partial: "tools/signatures", layout: false) %>
  </div>
<% end -%>
