<div class="tool <%= tweet_tool_classes -%>" id="tweet-tool"
     data-tweet-targets="<%= @tweet.targets.to_json(only: :twitter_id, methods: :image_url) %>"
     data-tweet-message="<%= @tweet.message %>"
     data-tweet-related="<%= Rails.application.config.twitter_related.to_a.join(',') %>">
  <div class="tool-container">
    <div class="tool-heading"><h3 class="tool-title"><%= @tweet.cta -%></h3></div>
    <div class="tool-body">
      <% if !@reps.present? && (@tweet.target_house? || @tweet.target_senate?) %>
        <div id='tweet-message-wrapper' style='display: none;'>
          <textarea class='form-control' id="tweet-message"><%= @tweet.message.html_safe -%></textarea>
        </div>
        <% if @tweet.targets.count > 0 %>
          <h3 class='twitter-tool-label' style='display: none;'><em>Individuals</em></h3>
          <div id='tweet-tool-container' style='display: none;'></div>
        <% end %>
        <h3 class='twitter-tool-label' style='display: none;'><em>Your Representatives</em></h3>
      <% else %>
        <textarea class='form-control' id="tweet-message"><%= @tweet.message.html_safe -%></textarea>
        <% if @tweet.targets.count > 0 %>
          <h3 class='twitter-tool-label'><em>Individuals</em></h3>
          <div id='tweet-tool-container'></div>
        <% end %>
      <% end %>
      <div id='tweet-tool-container' style='<%= !@reps.present? && (@tweet.target_house? || @tweet.target_senate?) ? "display: none;" : "" %>'></div>
      <% if @tweet.target_house? || @tweet.target_senate? -%>

        <% if @reps.present? -%>
          <h3 class='twitter-tool-label'><em>Your Representatives</em></h3>
          <%= render 'action_page/reps' -%>
        <% else -%>

          <form class='tweet-tool validate' action="">
            <div class="form-group">
              <label>Street address</label>
              <input class='form-control' type=text id="street_address" required>
            </div>
            <div class="form-group">
              <label>Zip Code</label>
              <input class='form-control' type=text name="zipcode" id="zipcode" required>
            </div>
            <%= render 'tools/save_my_info_option', info: %w[address zipcode] -%>
            <input type=submit class='btn action' value="Look up your reps">
            <%= render 'tools/loading' -%>
          </form>
        <% end -%>
      <% end -%>


      <% if (@tweet.target_house? || @tweet.target_senate?) && !@reps.present?-%>
        <p class="privacy-notice">
          This tool uses <a href="http://sunlightfoundation.com/legal/privacy/" target="_blank">Sunlight Labs</a>' and <a href="http://smartystreets.com/legal/privacy-policy" target="_blank">Smarty Streets</a>' APIs
        (<a class="privacy-notice-popover" href="#"
          data-container="body"
          data-toggle="popover"
          data-title="Tweet Tool APIs"
          data-html="true"
          data-trigger="hover"
          data-placement="auto"
          data-content="<p>We need your full address to locate your exact congressional district, but this information isn't stored unless you're logged in.</p><p>Our &quot;Tweet Your Representatives&quot; tool uses uses the Smarty Streets' API to convert your street address and zip code to a latitude and logitude, and also uses Sunlight Foundation's Congress API to look up the names and contact forms of the legislators for that lat/lng location.</p>"
          >why?</a>).<br>
          If you prefer not to use our tweet tool, <a href="https://www.eff.org/congress"  target="_blank">click here</a>.</p>

          <!--<p style="text-align: center; display:none; font-size: 12px;" class="call-to-sign-up">
            After tweeting, <a href="/register">sign up</a> for an EFF Action account and save your information for next time.
          </p>-->
      <% end -%>

      <% unless current_user %>
        <%= form_for :subscription, url: subscriptions_path, remote: true, html: { class: "newsletter-subscription" } do |f| %>
          <hr />
          <label for="subscription[email]"><%= t :sign_up_for_mailings_from %> <b><%= t :organization_abbreviation %></b>?</label>

          <fieldset>
            <%= f.email_field :email, class: "form-control", placeholder: "Email", required: "email" %>
          </fieldset>

          <%= render "tools/petition_location", f: f %>

          <%= render "tools/privacy_notice" %>

          <%= f.submit "Sign up", class: "btn btn-primary action" %>
        <% end %>
      <% end %>
    </div>
    <input type='hidden' name='action-id' value='<%= @actionPage.id -%>'>
  </div>
</div>
