<div class="related-content">
  <h4>Related Content</h4>
  <%= link_to action_page.related_content_url do %>
    <div class="image">
      <%= image_tag(action_page.related_content[:image_url]) %>
    </div>
    <h5><%= action_page.related_content[:title] %></h5>
  <% end %>
</div>
<div class="desc-text">
  <p><%= markdown action_page.description -%></p>
</div>
<div class="related-content mobile">
  <h4>Related Content</h4>
  <%= link_to action_page.related_content_url do %>
    <div class="image">
      <%= image_tag(action_page.related_content[:image_url]) %>
    </div>
    <h5><%= action_page.related_content[:title] %></h5>
  <% end %>
</div>
