<div class="top-section">
  <div class="container" role="main">
    <h1><%= t :organization_abbreviation -%> Campaigns</h1>
  </div>
</div>

<section class="more-actions">
  <%= form_tag action_page_index_path, method: :get, id: "action-page-filter" do %>
    <%= select_tag :category,
      options_from_collection_for_select(Category.all.order(:title).uniq,
                                         :title, :title, params[:category]),
      include_blank: "All campaigns" %>
  <% end %>
  <div class='container'>
    <% @actionPages.each_slice(3) do |array_of_3_actions| %>
      <div class="row">
        <% array_of_3_actions.each do |actionPage|%>
            <div>
              <%= link_to action_page_path(actionPage) do%>
                <div class="image">
                  <%= image_tag(actionPage.featured_image) %>
                </div>
              <% end %>

              <% if actionPage.category.present? %>
                <h5 class="category">
                  <%= actionPage.category.title %>
                </h5>
              <% end %>

              <div class="text">
                <h3>
                <%= link_to action_page_path(actionPage) do%>
                  <%= actionPage.title -%>
                <% end %>
                </h3>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
    <%= will_paginate @actionPages %>
  </div>
</section>
