<div class="top-section">
  <div class="container" role="main">
    <h1><%= t :organization_abbreviation -%> Campaigns</h1>
  </div>
</div>

<section class="more-actions">
  <div class='container'>
    <% @actionPages.each_slice(3) do |array_of_3_actions| %>
      <div class="row">
        <% array_of_3_actions.each do |actionPage|%>
            <div>
              <%= link_to action_page_path(actionPage) do%>
                <div class="image">
                  <%= image_tag(actionPage.featured_image) %>
                </div>
              <% end %>
              <h5 class="category">Category placeholder</h5>
              <div class="text">
                <%= link_to action_page_path(actionPage) do%>
                  <h3><%= actionPage.title -%></h3>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
    <%= will_paginate @actionPages %>
  </div>
</section>
