<% content_for :head do -%>
<%= render 'action_page/meta_tags' -%>

<% end -%>
<div class="top-section">
  <div class="container" role="main">
    <div class="row">
      <div class='short-description'>
        <h5 class="category">Category placeholder</h5>
        <h1><%= @actionPage.title -%></h1>
        <%= image_tag(@actionPage.featured_image) %>
        <%= markdown @actionPage.summary -%>
        <input type='checkbox' style='display: none' id="learn-more">
        <label for="learn-more">Learn More</label>
        <div class="description" id="description">
          <%= markdown @actionPage.description -%>
        </div>
      </div>
      <div class=" action-content" id="action-content" data-action-id="<%= @actionPage.id -%>" >


        <% if @actionPage.enable_petition? && @petition && @petition.description.present? && !@actionPage.description.include?('``` letter') -%>
        <% if !@petition.enable_affiliations? -%>
        <div id='signatures' class="hidden-xs ajax-update">
          <h4 class='header'><em><%= t :recent_signatories -%></em></h4>
          <%= render(partial: "tools/signatures", layout: false) %>
        </div>
        <% end -%>
        <%= render(partial: "action_page/letter", layout: false) %>
        <% end -%>

        <% if @actionPage.petition && @actionPage.enable_petition? && @actionPage.petition.enable_affiliations? -%>
        <%= render(partial: "tools/affiliation_signatures", layout: false) %>
        <% end -%>


        <%= render "tools/container" %>
      </div>
    </div>
  </div>
</div>
<%= ahoy_track_tag("show", @actionPage.id) %>
