<% content_for :head do -%>
  <%= render 'action_page/meta_tags' -%>

<% end -%>
<div class="top-section">
  <div class="container">
    <div class="row">
      <h1><%= @actionPage.title -%></h1>
      <div class='short-description'>
        <%= markdown @actionPage.summary -%>
        <input type='checkbox' style='display: none' id="learn-more">
        <label for="learn-more">Learn More</label>
        <div class="description" id="description">
          <%= markdown @actionPage.description -%>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container action-content" id="action-content" data-action-id="<%= @actionPage.id -%>" >
  <div class="row">
    <%= render "tools/container" %>
    <div>
      <% if @actionPage.enable_petition? && @petition && @petition.description.present? && !@actionPage.description.include?('``` letter') -%>
        <%= render(partial: "action_page/letter", layout: false) %>
      <% end -%>

      <% if @actionPage.petition && @actionPage.enable_petition? && @actionPage.petition.enable_affiliations? -%>
        <%= render(partial: "tools/affiliation_signatures", layout: false) %>
      <% end -%>

    </div>

  </div>
</div>

<%= ahoy_track_tag("show", @actionPage.id) %>
