<% content_for :head do -%>
<%= render 'action_page/meta_tags' -%>

<% end -%>
<div class="top-section">
  <div class="container" role="main">
    <div class="row">
      <div class='short-description'>
        <% if @actionPage.category.present? %>
          <h5 class="category"><%= @actionPage.category.title -%></h5>
        <% end %>
        <h1><%= @actionPage.title -%></h1>
        <%= image_tag(@actionPage.featured_image) %>
        <%= markdown @actionPage.summary -%>

        <%= render "action_page/partner_logos" %>

        <% if @actionPage.enable_petition? && @petition && @petition.description.present? && !@actionPage.description.include?('``` letter') -%>
          <%= render(partial: "action_page/letter", layout: false) %>
        <% end -%>

        <% if @actionPage.description.present? %>
          <input type='checkbox' style='display: none' id="learn-more">
          <label for="learn-more">Learn More</label>
          <div class="description" id="description">
            <% if @related_content.found? %>
            <div class="related-content">
              <h4>Related Content</h4>
              <%= link_to @actionPage.related_content_url do %>
                <div class="image">
                  <%= image_tag(@related_content.image) %>
                </div>
                <h5><%= @related_content.title %></h5>
              <% end %>
            </div>
              <div class="desc-text">
                <p><%= markdown @actionPage.description -%></p>
              </div>
              <div class="related-content mobile">
                <h4>Related Content</h4>
                <%= link_to @actionPage.related_content_url do %>
                  <div class="image">
                    <%= image_tag(@related_content.image) %>
                  </div>
                  <h5><%= @related_content.title %></h5>
                <% end %>
              </div>
            <% else %>
              <div class="desc-text full">
                <p><%= markdown @actionPage.description -%></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class=" action-content" id="action-content" data-action-id="<%= @actionPage.id -%>" >
        <%= render "tools/container" %>
        <% if @actionPage.petition && @actionPage.enable_petition? && @actionPage.petition.enable_affiliations? -%>
        <%= render(partial: "tools/affiliation_signatures", layout: false) %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<%= ahoy_track_tag("show", @actionPage.id) %>
