<% content_for :head do -%>
  <%= render 'action_page/meta_tags' -%>

<% end -%>
<div class="top-section">
  <div class="container">
    <div class="row">
      <div>
        <h5 class="category">Category</h5>
        <h1><%= @actionPage.title -%></h1>
        <div class="image">
          <img src="https://s3-us-west-1.amazonaws.com/actioncenter/action_pages/featured_images/000/000/358/original/OG-neutrality-banner.png?1554906353">
          <img src="<%= @actionPage.background_image.url -%>">
        </div>
        <div class='short-description'>
          <%= markdown @actionPage.summary -%>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container action-content" id="action-content" data-action-id="<%= @actionPage.id -%>" >
  <div class="row">
    <%= render "tools/container" %>
    <div>
      <div class="description" id="description">
        <%= markdown @actionPage.description -%>
      </div>
      <% if @actionPage.enable_petition? && @petition && @petition.description.present? && !@actionPage.description.include?('``` letter') -%>
        <%= render(partial: "action_page/letter", layout: false) %>
      <% end -%>

      <% if @actionPage.petition && @actionPage.enable_petition? && @actionPage.petition.enable_affiliations? -%>
        <%= render(partial: "tools/affiliation_signatures", layout: false) %>
      <% end -%>

    </div>

  </div>
</div>

<%= ahoy_track_tag("show", @actionPage.id) %>
