<ul id="nav">
  <li>
    <% if action_name == "new" || action_name == "duplicate" %>
      New Action
    <% else %>
      <%= link_to "Edit Action", edit_admin_action_page_path(@actionPage) %>
    <% end %>

    <% if %w(new edit update create duplicate).include?(action_name) %>
      <ul>
        <li><%= link_to "Basics", "#basics" %></li>
        <li><%= link_to "Action", "#action" %></li>
        <li><%= link_to "Images", "#images" %></li>
        <li data-hide-for-redirect="1"><%= link_to "Sharing", "#sharing" %></li>
        <li data-hide-for-redirect="1"><%= link_to "Thank You", "#thank-you" %></li>
        <li class="btn btn-default"><%= link_to "Save", "#save" %></li>
      </ul>
    <% end %>
  </li>

  <% if @actionPage.persisted? %>
    <li><%= link_to "Preview", admin_action_page_preview_path(@actionPage), id: "action-page-preview" %></li>
    <li data-hide-for-redirect="1"><%= nav_link_to "Analytics", admin_action_page_events_path(@actionPage) %></li>
    <li><%= nav_link_to "Change Status", admin_action_page_status_path(@actionPage) %></li>
    <li><%= link_to "Partners", admin_action_page_edit_partners_path(@actionPage) %></li>
    <% if @actionPage.enable_petition? && @actionPage.petition %>
      <li><%= nav_link_to "Signatures", admin_action_page_petition_path(@actionPage, @actionPage.petition) %></li>
    <% end %>
  <% end %>
</ul>
