<h2>Basics</h2>

<div class="form-item">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="form-item epiceditor">
  <%= f.label :summary %>
  <%= f.text_area :summary %>
</div>

<div class="form-item epiceditor">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<aside>
  <p>Need help writing Markdown? Check out this <a href="https://gist.github.com/jonschlinkert/5854601" target="_blank">Cheatsheet</a>.</p>
</aside>
