<%= f.fields_for(:email_campaign) do |sf| %>
  <div class="form-item">
    <%= sf.label :email_addresses, "To" %>
    <%= sf.text_field :email_addresses %>
  </div>

  <div class="form-item">
    <%= sf.label :subject %>
    <%= sf.text_field :subject %>
  </div>

  <div class="form-item">
    <%= sf.label :message %>
    <%= sf.text_area :message %>
  </div>
<% end %>
