<%= form_for @actionPage,
  url: { controller: :action_pages,
         action: (@actionPage.new_record? ? :create : :update)},
  :html => { id: 'action-page-form', multipart: true }  do |f| -%>

  <%= render partial: 'top_bar_authoring_controls', :locals => {:f => f} %>

  <!-- tab_panels.html.erb -->
  <div class='container-fluid edit-action'>
    <div class="tabs-left">
      <%= render 'tab_buttons' %>

      <!-- Tab panes -->
      <div class="tab-content responsive">
        <%= render partial: 'panel_content', :locals => {:f => f} %>
        <%= render partial: 'panel_settings', :locals => {:f => f} %>
        <%= render partial: 'panel_photos', :locals => {:f => f} %>
        <%= render partial: 'panel_social', :locals => {:f => f} %>
        <%= render partial: 'panel_email', :locals => {:f => f} %>
        <%= render partial: 'panel_victory', :locals => {:f => f} %>
        <%= render partial: 'panel_analytics', :locals => {:f => f} %>
      </div><!-- .tab-content -->

    </div><!-- .tabs-left -->
  </div><!-- .container.edit-action -->

  <input id='anchor' type=hidden name=anchor>
  <% unless @actionPage.new_record? -%>
  <%= f.hidden_field :updated_at, data: {url: admin_action_page_updated_at_path(@actionPage) }-%>
  <% end -%>
<% end -%>

<!-- Button trigger modal -->


<%= render 'modal_gallery.html.erb' %>
