<% content_for(:body_classes) { "action_page_setup" } %>

<%= form_for([:admin, @actionPage]) do |f| %>
  <% pages = %w(basics action images sharing thank_you) %>
  <% pages.each_with_index do |page, i| %>
    <div id="<%= page.sub('_', '-') %>" class="page">
      <%= render "edit_#{page}", f: f %>

      <div class="form-actions">
        <% if @actionPage.new_record? && pages[i+1] %>
          <%= button_tag "Next", type: "button", class: "btn btn-default next-tab" %>
        <% else %>
          <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="save" class="page">
    <p>You're almost done!</p>

    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
