<table class="table striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Date</th>
      <th>Views</th>
      <th>Actions Taken</th>
      <th>%</th>
      <th>Status</th>
      <th><!-- actions --></th>
    </tr>
  </thead>

  <tbody>
    <% @actionPages.each do |action_page| -%>
      <tr>
        <td><%= action_page.action_type %></td>
        <td><strong><%= link_to action_page.title, edit_admin_action_page_path(action_page) %></strong></td>
        <td class="nowrap"><%= action_page.created_at.strftime("%m-%d-%Y") %></td>
        <td><%= action_page.view_count %></td>
        <td><%= action_page.action_count %></td>
        <td><%= number_to_percentage(action_page.actions_taken_percent, precision: 2) %></td>
        <td><%= action_page.status.humanize %></td>
        <td class="page-actions">
          <%= image_tag "3dots.png" %>
          <ul>
            <li><%= link_to "View", action_page_path(action_page), class: "menu-link" %></li>
            <li><%= link_to "Edit", edit_admin_action_page_path(action_page), class: "menu-link" %></li>
            <li><%= link_to "Duplicate", admin_action_page_duplicate_path(action_page), class: "menu-link" %></li>
            <li><%= link_to "Destroy", admin_action_page_destroy_path(action_page), class: "menu-link",
              data: { confirm: "Are you sure you want to delete this? If this action (#{action_page.title}) has been visible to users, you might want to archive it instead of deleting. That way you can redirect the action and the URL for this action won't be broken." } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
