<!-- BEGIN SOCIAL SETTINGS TAB -->
<div class="tab-pane" id="social-settings">
  <div class="row">
    <div>
      <div class="form-group">
        <%= f.label :share_message do -%>
          Tweet text
          <span>(URL is automatically added to the end)</span>
        <% end %>
        <%= f.text_field :share_message, :data => {:maxlength => '280'}, :class  => "charactercount" -%>
      </div>
      <div class="form-group">
        <%= f.label :og_title do -%>
          Open Graph Title <span>(FB = 100chars, TWTR = 70chars)</span>
        <% end %>
        <%= f.text_field :og_title, placeholder: 'Defaults to action title', :data => {:maxlength => '70'}, :class  => "charactercount"  -%>
      </div>
      <div class="form-group">
        <%= f.hidden_field :og_image, value: ''-%>
        <%= f.label :og_image do -%>
          Open Graph Image <span>(Should be 1200px x 630px)</span>
        <% end -%>
        <%= render 'attached_image', image: @actionPage.og_image -%>
      </div>
    </div>
  </div>
</div><!-- .tab-pane -->
<!-- TABEND -->
