<% content_for(:nav) { render "action_page_nav" } %>

<h2>Analytics for: <em><%= @actionPage.title %></em></h3>

<span class="alert alert-warning times-notification"><i class="icon-attention"></i> All dates and times are given in <%= Time.zone.name %></span>

<%= render 'admin/events/sidebar', action_page: @actionPage,
    path: admin_action_page_events_path(@actionPage),
    active: :chart, summary: @summary %>

<% if @actionPage.enable_congress_message? %>
  <p>Out of <%= @total %> total messages, <%= @customized %> were customized (<%= percentage(@customized, @total) %>).</p>
<% end %>

<div class="charts">
  <% Ahoy::Event.action_types(@actionPage).each do |type| %>
    <h3><%= t(type, scope: :ahoy) %></h3>

    <% if type == :signatures %>
      <%= link_to "View Signatures", admin_action_page_petition_path(@actionPage, @actionPage.petition), class: "btn btn-default" %>
    <% end %>

    <%= line_chart(admin_action_page_events_path(@actionPage, type: type, date_range_text: date_range_string), height: "200px", discrete: true) %>
  <% end %>

  <% if @actionPage.enable_congress_message? %>
    <h3>Congresss Messages Sent</h3>
    <%= link_to congress_tabulation_admin_congress_message_campaign_path(@actionPage.congress_message_campaign), target: "_blank" do %>
      <button type="button" class="btn btn-default btn-sm">Congressional Breakdown</button>
    <% end %>

    <%= line_chart(@actionPage.congress_message_campaign.date_fills_url(@start_date, @end_date), height: "200px") %>
  <% end %>
</div>
