<% content_for(:nav) { render "action_page_nav" } %>
<h2>Action page analytics for: <em><%= @actionPage.title %></em></h3>

<div id="analytics-nav">
  <%= link_to "Table", admin_action_page_events_table_path(@actionPage), class: "btn sm active", target: "_blank" %>
  <%= link_to "Chart", admin_action_page_events_path(@actionPage), class: "btn sm", target: "_blank" %>
  <div class="analytics-filters">
    <h3>Filters</h3>
    <%= form_tag admin_action_page_events_table_path(@actionPage), method: :get do %>
      <div class="form-item">
        <%= label_tag "Date Range" %>
        <%= select_tag :date_text,
        options_for_select(["Last 7 days", "Last 30 days", "Last 3 months",
                            "Last 6 months", "Action lifetime"], params[:date_text]) %>
        <input type="text" id="date_range" name="date_range_text" value="" />
      </div>
      <div class="form-actions">
        <%= submit_tag "Filter", class: "btn btn-primary btn-sm", data: { disable_with: false } %>
      </div>
    <% end %>
    <h3>Summary</h3>
    <p>Views: <%= @summary[:view] %></p>
    <p>Actions Taken: <%= @summary[:action] %></p>
    <p><%= percentage(@summary[:action], @summary[:view]) %> of views led to actions</p>
  </div>
  <div>
  </div>
</div>

<table id="analytics-table" class="table striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Views</th>
      <th>Actions Taken</th>
      <th>%</th>
      <% if @actionPage.enable_congress_message %>
        <th>Emails Sent<th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @counts.each do |date, counts| %>
      <tr>
        <td><%= date %></td>
        <td><%= counts[:view] %></td>
        <td><%= counts[:action] %></td>
        <td>
          <% if counts[:view] > 0 %>
            <%= percentage(counts[:action], counts[:view])%>
          <% else %>
            -
          <% end %>
        </td>
        <% if @actionPage.enable_congress_message %>
          <td>
            <% if @fills.present? %>
              <%= @fills[date.to_datetime.strftime("%B %-d")] || 0 %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
