<% content_for(:nav) { render "action_page_nav" } %>
<h2>Analytics for: <em><%= @actionPage.title %></em></h3>

<%= render 'admin/events/sidebar', action_page: @actionPage,
  path: admin_action_page_events_table_path(@actionPage),
  active: :table, summary: @summary %>

<table id="analytics-table" class="table striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Views</th>
      <th>Actions Taken</th>
      <th>%</th>
      <% if @actionPage.enable_congress_message %>
        <th>Emails Sent<th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @counts.each do |date, counts| %>
      <tr>
        <td><%= date %></td>
        <td><%= counts[:view] %></td>
        <td><%= counts[:action] %></td>
        <td>
          <% if counts[:view] > 0 %>
            <%= percentage(counts[:action], counts[:view])%>
          <% else %>
            -
          <% end %>
        </td>
        <% if @actionPage.enable_congress_message %>
          <td>
            <% if @fills.present? %>
              <%= @fills[date.to_datetime.strftime("%B %-d")] || 0 %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
