<%= render 'admin/header' -%>
<div class='container-fluid'>
  <div class="tabs-left">
    <%= render 'admin/nav_tabs' -%>

    <div class="tab-content responsive">
      <% if can?(:browse_actions) %>
        <%= render "panel_action_pages" %>
      <% end %>

      <% if can?(:administer_homepage) %>
        <%= render "panel_homepage_settings" %>
      <% end %>

      <% if can?(:view_analytics) %>
        <%= render "panel_site_analytics" %>
      <% end %>

      <% if can?(:administer_topics) %>
        <%= render "panel_topics" %>
      <% end %>
    </div>
  </div>
</div>
