<% content_for(:nav) { render "admin/nav" } %>

<div id="filters">
  <h2>Filters</h2>
  <%= form_tag admin_action_pages_path, id: "filter_action_pages", method: :get do %>
    <div class="form-item">
      <%= label_tag "Type" %>
      <%= select_tag :action_type, options_for_select(%w(all call congress_message email petition tweet redirect)) %>
    </div>

    <div class="form-actions">
      <button type="reset" class="sm">Clear filters</button>
    </div>

    <div class="form-item">
      <%= text_field_tag :q, params[:q],
            :"aria-label" => "Search query",
            placeholder: "Search by title, description, action text, etc.",
            autocomplete: "off", class: "form-control input-sm" %>
    </div>

    <div class="form-actions">
      <%= submit_tag "Search", class: "sm", data: { disable_with: false } %>
    </div>
  <% end %>
</div>

<%= render "index" %>

