<%= render 'admin/header' -%>
<div class='container-fluid'>
  <div class="tabs-left">
    <%= render 'admin/nav_tabs' -%>

    <!-- Tab panes -->
    <div class="tab-content responsive">

      <!-- BEGINTAB Actions -->
      <% if can?(:browse_actions) %>
        <div class="tab-pane active" id="action-pages">
          <table class='table table-simple table-spaced'>
            <% @actionPages.each do |action_page| -%>
              <tr>
                <td class="action-id hidden-xs"><span class="id-badge"><%= action_page.id -%></span></td>
                <td class="action-icons">
                  <% if action_page.enable_call? %>
                    <i class="icon ion-ios-telephone-outline has-tooltip" data-toggle="tooltip" data-placement="auto left" title="Phone tool"></i>
                  <% end -%>
                  <% if action_page.enable_petition? %>
                    <i class="icon ion-ios-paper-outline has-tooltip" data-toggle="tooltip" data-placement="auto left" title="Petition tool"></i>
                  <% end -%>
                  <% if action_page.enable_email? %>
                    <i class="icon ion-ios-email-outline has-tooltip" data-toggle="tooltip" data-placement="auto left" title="Email tool"></i>
                  <% end -%>
                  <% if action_page.enable_tweet? %>
                    <i class="icon ion-social-twitter-outline has-tooltip" data-toggle="tooltip" data-placement="auto left" title="Tweet tool"></i>
                  <% end -%>
                  <% if action_page.enable_redirect? %>
                    <i class="icon ion-ios-redo-outline has-tooltip" data-toggle="tooltip" data-placement="auto left" title="Standalone campaign"></i>
                  <% end -%>
                </td>
                <td class="action-titles">
                  <%= action_page.title -%>&nbsp;&nbsp;
                  <% if !action_page.published? -%>
                    <span class="label label-warning">Draft</span>
                  <% end -%>
                  <% if action_page.archived? -%>
                    <span class="label label-default">Archived</span>
                  <% end -%>
                  <% if action_page.victory? -%>
                    <span class="label label-success">Victory!</span>
                  <% end -%>
                </td>
                <td class="action-links">
                  <div class='btn-group'>
                    <% if can?(:administer_actions) %>
                      <%= link_to edit_admin_action_page_path(action_page),
                                  class: 'btn btn-default btn-sm' do -%>
                         <i class="icon ion-ios-compose-outline"></i> Edit
                      <% end %>
                    <% end %>

                    <%= link_to action_page_path(action_page),
                       class: 'btn btn-default btn-sm', target: "_blank" do -%>
                      <i class="icon ion-ios-eye"></i> View
                    <% end %>

                    <% if action_page.published? -%>
                       <% if can?(:view_analytics) %>
                         <%= link_to edit_admin_action_page_path(action_page.id, anchor: :analytics), class: 'btn btn-default btn-sm' do -%>
                           <i class="icon ion-ios-pie-outline"></i> Analytics
                         <% end %>
                       <% end %>
                    <% elsif can?(:administer_actions) -%>
                       <%= link_to admin_action_page_publish_path(action_page.id), class: 'btn btn-default btn-sm' do -%>
                          <i class="icon ion-ios-checkmark-empty"></i> Publish
                      <% end -%>
                    <% end -%>

                    <% if can?(:administer_actions) %>
                      <%= link_to admin_action_page_destroy_path(action_page.id), data: {confirm: "Are you sure you want to delete this? If this action has been visible to users, you might want to archive it instead of deleting. That way you can redirect the action and the URL for this action won't be broken."}, class: 'btn btn-default btn-sm' do -%>
                        <i class="icon ion-ios-trash-outline"></i> <span>Delete</span>
                      <% end -%>
                    <% end %>
                   </div>
                </td>
              </tr>
            <% end -%>
          </table>
        </div>
      <% end %>
      <!-- ENDTAB Actions -->

      <!-- BEGINTAB Homepage -->
      <% if can?(:administer_homepage) %>
        <div class="tab-pane" id="homepage-settings">
          <div class="row">
            <div class="col-sm-12 col-md-10">
              <div class='panel panel-default select-featured'>
                <div class="panel-heading">
                  <div class="panel-title">Featured actions:</div>
                </div>
                <div class="panel-body">
                  <form class='clearfix form-horizontal' role='form' action='/admin/action_pages/update_featured_pages' method='post'>
                    <% 4.times do |i| -%>
                      <% label = "fp#{i+1}" -%>
                      <div class="form-group">
                        <%= label_tag label, (i.zero? ? 'Main Item' : "Featured #{i}"), class: 'col-sm-3 control-label' -%>
                        <div class="col-sm-9">
                          <%= collection_select :action_page, :id, ActionPage.all.order(:title), :id, :title,
                            {prompt: 'Select a campaign', object: @featuredActionPages[i]},
                            {class: 'form-control', id: label, name: label} -%>
                        </div>
                      </div>
                    <% end %>
                  <input type="submit" class="btn btn-success pull-right" value="Update" />
                  </form>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- ENDTAB Homepage -->

      <!-- BEGINTAB Analytics -->
      <% if can?(:view_analytics) %>
        <div class="tab-pane" id="analytics">
          <div class="clearfix">
            <div class="pull-right">
              <%= render 'admin/action_pages/date_range_form' -%>
            </div>
          </div>
          <br>
          <hr />
          <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
              <h3>Action Page Views</h3>
              <%= if @date_start == @date_end
                @data = ::Ahoy::Event.views.where('time BETWEEN ? AND ?', @date_start, @date_end + 1.day).group_by_hour(:time, format: '%Y-%m-%d %H:%M:00 UTC').count
              else
                @data = ::Ahoy::Event.views.where('time BETWEEN ? AND ?', @date_start, @date_end).group_by_day(:time, format: '%Y-%m-%d 00:00:00 UTC').count
              end
              line_chart(
                [{
                  name: "Total Page Views",
                  data: @data
                }],
                library: { responsive: true, canvasDimensions: {width: 500, height: 200}}
              ) %>

              <h3>Email Tool</h3>
              <%= if @date_start == @date_end
                @data = ::Ahoy::Event.emails.where('time BETWEEN ? AND ?', @date_start, @date_end + 1.day).group_by_hour(:time, format: '%Y-%m-%d %H:%M:00 UTC').count
              else
                @data = ::Ahoy::Event.emails.where('time BETWEEN ? AND ?', @date_start, @date_end).group_by_day(:time, format: '%Y-%m-%d 00:00:00 UTC').count
              end
              line_chart(
                [{
                  name: "Total Emails",
                  data: @data
                }],
                library: {responsive: true, canvasDimensions: {width: 500, height: 200}} 
              ) %>

              <h3>Emails Sent</h3>
              <%= if @date_start == @date_end
                line_chart(
                  congress_forms_hour_fills_url(nil, @date_start),
                  library: {responsive: true, canvasDimensions: {width: 500, height: 200}}
                )
              else
                line_chart(
                  congress_forms_date_fills_url(nil, @date_start, @date_end),
                  library: {responsive: true, canvasDimensions: {width: 500, height: 200}}
                )
              end %>

              <h3>Call Tool</h3>
              <%= if @date_start == @date_end
                @data = ::Ahoy::Event.calls.where('time BETWEEN ? AND ?', @date_start, @date_end + 1.day).group_by_hour(:time, format: '%Y-%m-%d %H:%M:00 UTC').count
              else
                @data = ::Ahoy::Event.calls.where('time BETWEEN ? AND ?', @date_start, @date_end).group_by_day(:time, format: '%Y-%m-%d 00:00:00 UTC').count
              end
              line_chart(
                [{
                  name: "Total Calls",
                  data: @data
                }],
                library: {responsive: true, canvasDimensions: {width: 500, height: 200}}
              ) %>

              <h3>Tweet Tool</h3>
              <%= if @date_start == @date_end
                @data = ::Ahoy::Event.tweets.where('time BETWEEN ? AND ?', @date_start, @date_end + 1.day).group_by_hour(:time, format: '%Y-%m-%d %H:%M:00 UTC').count
              else
                @data = ::Ahoy::Event.tweets.where('time BETWEEN ? AND ?', @date_start, @date_end).group_by_day(:time, format: '%Y-%m-%d 00:00:00 UTC').count
              end
              line_chart(
                [{
                  name: "Total Tweets",
                  data: @data
                }],
                library: {responsive: true, canvasDimensions: {width: 500, height: 200}}
              ) %>

              <h3>Petition Tool</h3>
              <%= if @date_start == @date_end
                @data = ::Ahoy::Event.signatures.where('time BETWEEN ? AND ?', @date_start, @date_end + 1.day).group_by_hour(:time, format: '%Y-%m-%d %H:%M:00 UTC').count
              else
                @data = ::Ahoy::Event.signatures.where('time BETWEEN ? AND ?', @date_start, @date_end).group_by_day(:time, format: '%Y-%m-%d 00:00:00 UTC').count
              end
              line_chart(
                [{
                  name: "Total Signatures",
                  data: @data
                }],
                library: { responsive: true, canvasDimensions: {width: 500, height: 200}}
              ) %>

              <h3>Users</h3>
              <%= if @date_start == @date_end
                @data = User.where('created_at BETWEEN ? AND ?', @date_start, @date_end + 1.day).group_by_hour(:created_at, format: '%Y-%m-%d %H:%M:00 UTC').count
              else
                @data = User.where('created_at BETWEEN ? AND ?', @date_start, @date_end).group_by_day(:created_at, format: '%Y-%m-%d 00:00:00 UTC').count
              end
              line_chart(
                [{
                  name: "Registrations",
                  data: @data
                }],
                library: { responsive: true, canvasDimensions: {width: 500, height: 200}}
              ) %>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- ENDTAB Analytics -->

      <!-- BEGINTAB Topics -->
      <% if can?(:administer_topics) %>
        <div class="tab-pane hidden-xs" id="topics">
        </div>
      <% end %>
      <!-- ENDTAB Topics -->
    </div>
  </div>
</div>
