<div class="top-section">
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <h1>
          (Re)submit a strong password to use for logins
        </h1>
        <div class="pass-paragraphs">
          <p>
            Your account has been flagged for importance
            and you must now ensure your password is strong.
          </p>

          <p>
            You can now resubmit your old password (assuming it's strong)
            or create a new password and store it in your password manager.
          </p>
        </div>
        <%= form_for @user, url: '/', html: { :method => :put } do |f| %>
          <%= hidden_field_tag :continue, params[:continue] if params[:continue].present? %>
          <div class='container-fluid edit-action'>
            <div class="tabs-left">

              <div class="form-group">
                <div>
                  <%= f.label :current_password, "Current Password" %>
                </div>
                <div>
                  <%= f.password_field :current_password, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <div>
                  <%= f.label :password, "New Password" %>
                  <%= link_to 'How to create strong passwords', 'https://ssd.eff.org/en/module/creating-strong-passwords', class: 'input-note' %>
                </div>
                <div>
                  <%= f.password_field :password, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <div>
                  <%= f.label :password_confirmation, "Confirm New Password" %>
                </div>
                <div>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                </div>
              </div>

              <div><%= f.submit "Submit", :class => 'eff-button' %></div>

            </div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
