<div class="top-section">
  <div class="container" role="main">
    <div class="row">
      <div class="resend-confirmation">
        <h1>Resend confirmation instructions</h1>

        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, :class => 'form-control', :required => 'required' %>
          </div>

          <div class="submit"><%= f.submit "Resend", :class => 'eff-button' %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
