<div class="redtop">
  <div class="container">
    <div class="row">
      <div class="resend-confirmation col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <h1>Resend confirmation instructions</h1>

        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, :class => 'form-control', :required => 'required' %>
          </div>

          <div><%= f.submit "Resend confirmation instructions", :class => 'btn btn-default' %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
