<!-- BEGIN ANALYTICS TAB -->
<% if @actionPage.id -%>
  <div class="tab-pane" id="analytics">
    <div class="row">
      <div class="col-sm-6">
        <span class='alert alert-warning times-notification'><i class="icon-attention"></i> All dates and times are given in <%= Time.zone.name %></span>
      </div>
      <div class="col-sm-6 text-right">
        <%= render 'admin/action_pages/date_range_form' -%>
        <%= link_to admin_action_page_events_path(@actionPage),
          class: "table-view-link", target: "_blank" do -%>
          <button type='button' class='btn btn-default btn-sm'>Table View</button>
        <% end -%>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <% Ahoy::Event.action_types(@actionPage).each do |type| %>
          <% if type == :views %>
            <h3>Action Page Views</h3>
          <% else %>
            <h3><%= type.to_s.humanize.capitalize %></h3>
          <% end %>

          <% if type == :signatures %>
            <%= link_to "Download CSV",
                        csv_admin_petition_path(@actionPage.petition),
                        class: "btn btn-default btn-sm pull-right"-%>
            <%= link_to 'View Signatures',
                        admin_petition_path(@actionPage.petition),
                        class: "btn btn-default btn-sm pull-right"-%>
          <% end %>

          <%= line_chart(admin_action_page_events_path(@actionPage, type: type),
                         height: "200px", discrete: true) %>
        <% end %>

        <% if @actionPage.congress_message_campaign_id %>
          <h3>Congresss Messages Sent</h3>
          <%= link_to date_tabulation_admin_congress_message_campaign_path(@actionPage.congress_message_campaign),
            target: "_blank" do -%>
            <button type='button' class='btn btn-default'>Table View</button>
          <% end -%>
          <%= link_to congress_tabulation_admin_congress_message_campaign_path(@actionPage.congress_message_campaign),
            target: "_blank" do -%>
            <button type='button' class='btn btn-default'>Congressional Breakdown</button>
          <% end -%>
          <%= if start_date_string == end_date_string
            line_chart(
              congress_forms_hour_fills_url(@actionPage.congress_message_campaign.campaign_tag, start_date_string), height: "200px"
            )
          else
            line_chart(
              congress_forms_date_fills_url(@actionPage.congress_message_campaign.campaign_tag, start_date_string, end_date_string), height: "200px"
            )
          end %>
        <% end %>

        <div class="clearfix"> </div>
      </div><!-- .col-sm-12 -->
    </div><!-- .row -->
  </div><!-- .tab-pane -->
<% end -%>
<!-- TABEND-->
