<div class="tab-pane" id="analytics">
  <div class="clearfix">
    <div class="pull-right">
      <%= render 'admin/action_pages/date_range_form' -%>
    </div>
  </div>
  <br>
  <hr />
  <div class="row">
    <div>
      <h3>Action Page Views</h3>
      <%= line_chart(admin_events_path(@actionPage, type: :views),
                     height: "200px", discrete: true) %>

      <h3>Email Tool</h3>
      <%= line_chart(admin_events_path(@actionPage, type: :emails),
                     height: "200px", discrete: true) %>

      <h3>Congress Message Tool</h3>
      <%= line_chart(admin_events_path(@actionPage, type: :congress_messages),
                     height: "200px", discrete: true) %>

      <h3>Call Tool</h3>
      <%= line_chart(admin_events_path(@actionPage, type: :calls),
                     height: "200px", discrete: true) %>

      <h3>Tweet Tool</h3>
      <%= line_chart(admin_events_path(@actionPage, type: :tweets),
                     height: "200px", discrete: true) %>

      <h3>Petition Tool</h3>
      <%= line_chart(admin_events_path(@actionPage, type: :signatures),
                     height: "200px", discrete: true) %>

      <h3>Users</h3>
      <%= line_chart(admin_users_path(@actionPage), height: "200px", discrete: true) %>

      <div class="clearfix"> </div>
    </div>
  </div>
</div>
