<div class="top-section">
  <div class="container" role="main">
    <div class="row">
      <div>
        <h1>Register</h1>

        <p>
          <span class="register-info" data-toggle="tooltip" data-trigger="hover">?
            <span class="tooltiptext">You can save information like your address for convenience in taking actions later, and manage your subscriptions to EFF newsletters. Within your account you may choose not to keep track of your actions, not supply any information, or unsubscribe to newsletters, if that is your preference.  All information is subject to EFF's privacy policy, and you may delete your account at any time.</span>
          </span>
        Registering for the Action Center allows you to keep track of any EFF actions you have taken.
        </p>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, :class => 'form-control', :required => 'required' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= link_to 'How to create strong passwords', 'https://ssd.eff.org/en/module/creating-strong-passwords', class: 'input-note' %>
            <%= f.password_field :password, :class => 'form-control', :required => 'required' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => 'form-control', :required => 'required' %>
          </div>
          <%= invisible_captcha %>

          <div class="email-signup">
            I
            <%= f.radio_button :subscribe, 'true'-%>
            <label for="user_subscribe_true"><span></span>want</label>

            <%= f.radio_button :subscribe, 'false'-%>
            <label for="user_subscribe_false"><span></span>do not want</label>

            to receive the EFF newsletter and emails about other EFF campaigns.
          </div>

          <div class="email-signup">
            I
            <%= f.radio_button :record_activity, 'true', id: 'do-record' -%>
            <label for="do-record"><span></span>want</label>

            <%= f.radio_button :record_activity, 'false', id: 'do-not-record' -%>
            <label for="do-not-record"><span></span>do not want</label>

            EFF to keep a record of actions I take on the site, to be used for features like leaderboards or to give out prizes to the most active action-takers.
          </div>
          <div class="submit"><%= f.submit "Sign up", :class => 'eff-button' %></div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
