<div class="redtop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <h1>Sign up</h1>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, :class => 'form-control', :required => 'required' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :class => 'form-control', :required => 'required' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => 'form-control', :required => 'required' %>
          </div>

          <div class="email-signup">
            I
            <%= f.radio_button :subscribe, 'true'-%>
            <%= f.label :subscribe, 'want', value: 'true', class: 'radio-inline'-%>
              
            <%= f.radio_button :subscribe, 'false'-%>
            <%= f.label :subscribe, 'do not want', value: 'false', class: 'radio-inline'-%>
            
            to receive the EFF newsletter and emails about other EFF campaigns.
          </div>

          <div class="email-signup">
            I
            <%= f.radio_button :record_activity, 'true', id: 'do-record' -%>
            <label class="radio-inline" for="do-record">want</label>
              
            <%= f.radio_button :record_activity, 'false', id: 'do-not-record' -%>
            <label class="radio-inline" for="do-not-record">do not want</label>
            
            EFF to keep a record of actions I take on the site, to be used for features like leaderboards or to give out prizes to the most active action-takers.
          </div>
          <div><%= f.submit "Sign up", :class => 'btn btn-default' %></div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
