<%= form_for([:admin, @partner]) do |f| %>
  <% if @partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
      <% @partner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-item">
    <%= f.label :name, "Organization Name" -%>
    <%= f.text_field :name  -%>
  </div>

  <div class="form-item">
    <%= f.label :privacy_url, "Privacy URL" -%>
    <%= f.text_field :privacy_url -%>
  </div>

  <div class="form-item">
    <%= f.label :code, "Abbrevation  (e.g. eff)" -%>
    <%= f.text_field :code  -%>
  </div>

  <div class="form-item">
    <%= f.label :logo, "Logo" -%>
    <%= f.file_field :logo  -%>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
