<% content_for(:nav) { render "admin/nav" } %>

<p>This is where you can add a list of partner organizations that your organization runs joint campaigns with. Here is how that process works:</p>

<h3>How partner signups work for users:</h3>

<p>When partner signups are enabled for an action, an extra email signup checkbox shows your partner's name and privacy policy instead of your own. If the user opts in they'll be added to one of the lists below as a "subscriber."</p>

<h3>How a partner fetches their new subscriptions:</h3>

<p>Partners need to have an Action Center login to access their new subscriptions. After they've created an account, you can link their account to their organization. Once they are added, they will see "Partner Dashboard" link in the header of the site and they can view and download their new subscribers.</p>

<p>
  <%= link_to "+ Add New Partner", new_admin_partner_path, class: "new btn sm" %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Abbreviation</th>
      <th>Privacy Policy</th>
      <th>Subscribers</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.name %></td>
        <td><%= partner.code %></td>
        <td><%= link_to "Link", partner.privacy_url if partner.privacy_url? %></td>
        <td><%= partner.subscriptions.size -%></td>
        <td><%= link_to "View and Edit", partner, class: "btn sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @partners %>
