<%= render 'admin/header' -%>
<div class='container-fluid'>

  <h2> Partner: <%= @partner.name -%> <br>
    <span class='small'>
      <%= link_to 'â† View all partners', admin_partners_path %>
    </span>
  </h2>


  <h4>Partner details:</h4>
  <table class='table'>
    <tr>
      <td> Name </td>
      <td> 
        <%= @partner.name -%> 
        <%= link_to 'Edit', edit_admin_partner_path(@partner),
      class: 'btn btn-xs btn-primary' %>
      </td>
    </tr>
    <tr>
      <td> Privacy Policy </td>
      <td> 
        <%= link_to @partner.privacy_url, @partner.privacy_url -%> 
        <%= link_to 'Edit', edit_admin_partner_path(@partner),
      class: 'btn btn-xs btn-primary' %>
      </td>
    </tr>
    <tr>
      <td> Code </td>
      <td> 
        <%= @partner.code -%> 
        <%= link_to 'Edit', edit_admin_partner_path(@partner),
      class: 'btn btn-xs btn-primary' %>
      </td>
    </tr>
  </table>

  <h4>User accounts linked to this partner:</h4>
  <p class="small"><strong>Note:</strong> these users will see a "Partner Dashboard" link in the header of the site when they are logged in.</p>
  <table class='table-striped table'>
    <% @partner.users.each do |user| -%>
      <tr>
        <td> <%= user.email -%> </td>
        <td>
          <%= link_to 'Unlink', remove_user_admin_partner_path(@partner, user),
            class: 'btn btn-xs btn-danger', method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end -%>
    <tr>
      <td>Add new user:</td>
      <td>
        <%= form_tag [:add_user, :admin, @partner], class: 'form-inline' do -%>
          <%= text_field_tag :email, nil, class: 'form-control input-sm' -%>
          <%= submit_tag 'Add', class: 'btn btn-sm btn-success',
            data: {confirm: "Allow this user to access private content for #{@partner.name}?"} -%>
        <% end -%>
      </td>
    </tr>
  </table>

  <h4 class='clearfix'>
    <%= pluralize @subscriptions.count, 'subscribers'-%>
    <%= link_to 'Download CSV', csv_partner_path(@partner), class: 'btn btn-success btn-xs pull-right'-%>
  </h4>
  <table class='table-striped table'>
    <% @subscriptions.each do |sub| -%>
      <tr>
        <td> <%= [sub.first_name, sub.last_name].join(' ') -%> </td>
        <td> <%= sub.email -%> </td>
        <td> <%= time_ago_in_words(sub.created_at) -%> ago </td>
      </tr>
    <% end -%>
  </table>
  <%= will_paginate @subscriptions %>

</div>
