<%= form_for([:admin, @institution]) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% @institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-item">
    <%= f.label :category, "Category" %>
    <%= f.select :category, options_for_select(@categories, @institution.category) %>
  </div>

  <div class="form-item">
    <%= f.label :slug do %>
      URL Slug
      <span class="hint">(e.x. "harvard", will be generated based on the name if left blank)</span>
    <% end %>
    <%= f.text_field :slug %>
  </div>

  <%= f.submit class: "btn btn-primary" -%>
<% end %>
