<%= render 'admin/header' -%>
<div class='container-fluid'>
  <div class="tabs-left">
    <%= render 'admin/nav_tabs' -%>
    <!-- Tab panes -->
    <div class="tab-content responsive">
      <div class="tab-pane active" id="institutions">
        <p id="notice"><%= notice %></p>

        <h3>
          Editing institutions for <%= @actionPage.title -%>
        </h3>

        <%= form_tag [:import, :admin, @actionPage, Institution], multipart: true do %>
          <span class="btn btn-sm btn-success file-input">
            <span>Import from CSV</span>
            <%= file_field_tag :file, onchange: 'javascript:this.form.submit();' %>
          </span>
        <% end %>

        <table class='table-striped table table-simple'>
          <thead>
            <tr>
              <th>Institution Name</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @actionPage.institutions.each do |institution| -%>
              <tr>
                <td> <%= institution.name -%> </td>
                <td>
                  <div class='btn-group'>
                    <%= link_to 'Remove', [:admin, @actionPage, institution], class: 'btn-sm btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </td>
              </tr>
            <% end -%>
            <tr>
              <td>
                <%= link_to [:new, :admin, @actionPage, :institution], class: 'btn btn-sm btn-primary' do %>
                  <i class="icon-doc-new"></i> Add an institution
                <% end %>
              </td>
              <td colspan="4"></td>
            </tr>
          </tbody>
        </table>

        <%= link_to 'Back', [:edit, :admin, @actionPage, :anchor=> 'action'], target: :blank -%>

      </div>
    </div>
  </div>
</div>