<% content_for(:nav) { render "admin/institutions/nav" } %>

<div id="institutions-index">
  <h2>All Petition Targets</h2>

  <%= form_tag admin_institutions_path, id: "search_institutions", method: :get do %>
    <div class="form-item">
      <%= label :category, "Category" %>
      <%= select_tag :category, options_for_select(@categories, params[:category]), 
                 include_blank: "All" %>
    </div>
    <div class="form-item">
      <%= text_field_tag :q, params[:q],
        :"aria-label" => "Search query",
        placeholder: "Search by target name or category",
        autocomplete: "off", class: "form-control input-sm" %>
    </div>
    <div class="form-item">
      <%= submit_tag "Search & Filter", class: "btn btn-default btn-sm" %>
      <button type="reset" class="btn btn-default btn-sm">Clear search & filters</button>
    </div>
  <% end %>
  <table class='table-striped table table-simple'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Used in live actions?</th>
        <th>Used in any actions?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @institutions.each do |institution| -%>
        <tr>
          <td> <%= institution.name -%> </td>
          <td> <%= institution.category.humanize -%> </td>
          <td> <%= institution.included_in_active_actions? ? "Yes" : "No" -%> </td>
          <td> <%= institution.action_pages.empty? ? "No" : "Yes" -%> </td>
          <td>
            <div class='btn-group'>
              <%= link_to 'Edit', edit_admin_institution_path(institution),
                class: 'btn-sm btn btn-default', target: "_blank" %>
              <%= link_to 'Delete', admin_institution_path(institution),
                class: 'btn-sm btn btn-default', method: :delete,
                data: { confirm: "Are you sure?\nIf this target is included in actions, deleting it could cause data errors." } %>
            </div>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <div>
    <%= will_paginate @institutions %>
  </div>
</div>
