<ul id="nav">
  <li>
    <%= nav_link_to "All Actions", admin_action_pages_path %>
  </li>

  <li>
    <%= nav_link_to "Create new action", new_admin_action_page_path %>
  </li>

  <li>
    <%= nav_link_to "Featured Actions", homepage_admin_action_pages_path %>
  </li>

  <li>
    <%= nav_link_to "Site Analytics", admin_events_path %>
  </li>

  <li><%= nav_link_to "Congress Topics", admin_topics_path %></li>
  <li><%= nav_link_to "Users", admin_users_path %></li>
  <li><%= nav_link_to "Categories", admin_categories_path %></li>
  <li><%= nav_link_to "Partners", admin_partners_path %></li>
  <li><%= nav_link_to "Petition Targets", admin_institutions_path %></li>
</ul>
