<div class="staffer-report"
     data-bioid="<%= @bioguide_id %>"
     data-legislators_url="<%= congress_index_path(format: :json) %>">
  <h1><i class="eff-logo pull-right"></i>Report for <span class="member_name"></span></h1>
  <h2>Campaign: <%= @congress_message_campaign.campaign_tag %></h2>

  <div class='chart_wrapper'>
    <label>Messages sent to your office:</label>
    <%= line_chart(
      @congress_message_campaign.date_fills_url(nil, nil, @bioguide_id),
      height: "250px",
      library: {canvasDimensions: {width: 600, height: 250}}
    ) %>
  </div>

  <div class='chart_wrapper'>
    <label>Messages sent to Congress:</label>
    <%= line_chart(
      @congress_message_campaign.date_fills_url,
      height: "250px",
      library: {canvasDimensions: {width: 600, height: 250}}
    ) %>
  </div>
</div>
