<div class='panel panel-default topic_category' data-topic-category-id="<%= id %>">
  <div class='panel-heading'>
    <div class='panel-title'>

      <%= name %>

      <div class='btn-group category pull-right'>
        <span class="btn btn-success btn-sm edit-category-btn <%= id ? "" : "disabled" %>"><i class="icon-pencil"></i> Edit</span>
        <span class="btn btn-success btn-sm delete-category-btn <%= id ? "" : "disabled" %>" data-confirm="Are you sure you want to delete this entire category?"><i class="icon-trash"></i> Delete</span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class='table table-simple' cellpadding=0 cellspacing=0>
      <thead>
        <tr>
          <th>Tier #</th>
          <th>Terms</th>
          <th><span class="btn btn-default btn-sm create-btn pull-right <%= id ? "" : "disabled" %>"><i class="icon-doc-new"></i> Create new tier</span></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class='clearfix'></div>
  </div>
</div>
