<div class="container" id="settings">
  <h1><%= t :your_account -%></h1>
  <div class="row">
    <div>
      <div class="activity-stream" role="list">
        <h3>Take action</h3>

        <% # If our user doesn't have activity recording enabled, prompt them to enable it. %>
        <% if !current_user.record_activity? -%>
          <div class="alert alert-warning">
            <%= form_for current_user, html: { method: :put , class: :enable_logging } do |f| %>
              <%= f.hidden_field(:record_activity, :value => 'true') %>
              It looks like activity recording isn't enabled, so we don't store a record which actions you've taken.
              <%= submit_tag "Enable activity logging", class: 'link-button' %> to see your activity here.
            <% end -%>
          </div>
        <% end -%>

            <% @actionPages.each do |action_page| -%>
              <% if !action_page.archived && action_page.published || action_page.archived  && action_page.published && @actions_taken.include?( action_page.id) -%>
                <% if @actions_taken.include? action_page.id -%>
                  <p class="taken" role="listitem">
                <% else %>
                  <p role="listitem">
                <% end %>
                <%= link_to action_page.title, action_page_path(action_page) -%>
                  <span class="age">
                    <%= distance_of_time_in_words_to_now(action_page.created_at) -%> old
                  </span>
                </p>
              <% end -%>
            <% end -%>
      </div>
    </div>

    <div>
      <% if current_user.record_activity? %>
        <div class="action-stats">
          <h3>Stats</h3>
          <div class="percentile">
            <p>You are in the <span><%= current_user.percentile_rank.ordinalize %> </span>percentile of users.</p>
          </div>
          <p>Actions you've taken so far:</p>
          <div class="action-grid">
            <div class="quad-1">
              <%= pluralize_with_span(current_user.actions.calls.count, 'call') %>
            </div>
            <div class="quad-2">
              <%= pluralize_with_span(current_user.actions.signatures.count, 'petition') %>
            </div>
            <div class="quad-3">
              <%= pluralize_with_span(current_user.actions.emails.count, 'email') %>
            </div>
            <div class="quad-4">
              <%= pluralize_with_span(current_user.actions.tweets.count, 'tweet') %>
            </div>
            <div class="total">
              <span>
                <%= current_user.actions.count -%>
              </span>
              total
            </div>
          </div>
        </div>
      <% end %>

      <div class="user-info">
        <h4>
          Personal information
        </h4>
        <div class="user-box">
                <% if current_user.name.present? %>
                  <div>Name:</div>
                  <div><%= current_user.name %></div>
                <% end %>

                <% if current_user.street_address.present? %>
                <div>Street Address:</div>
                <div><%= current_user.street_address %></div>
                <% end %>

                <% if current_user.city.present? %>
                <div>City:</div>
                <div><%= current_user.city %></div>
                <% end %>

                <% if current_user.zipcode.present? %>
                <div>Zipcode:</div>
                <div><%= current_user.zipcode %></div>
                <% end %>

                <% if current_user.state.present? %>
                <div>State:</div>
                <div><%= current_user.state %></div>
                <% end %>

                <% if current_user.country_code.present? %>
                <div>Country:</div>
                <div><%= current_user.country_code %></div>
                <% end %>

                <% if current_user.phone.present? %>
                <div>Phone:</div>
                <div><%= current_user.phone %></div>
                <% end %>

           </div>
        <%= link_to 'Edit', edit_user_path,
          class: 'eff-button' -%>
        </div>
        <div class="user-info">
        <h4>
          Email and password
        </h4>

        <div class="user-box">
            <div>Email</div>
            <div><%= current_user.email %></div>
            <div>Password</div>
            <div>********</div>
        </div>
        <%= link_to 'Edit', edit_user_registration_path,
          class: 'eff-button' -%>
      </div>
      <div class="user-info">
      <h4 id="activity">
        Activity
        <%= button_to "Clear my activity", clear_activity_user_path, method: :delete,
          data: { confirm: "Are you sure you want to delete your activity records?" },
          class: 'eff-button' %>
      </h4>
      <%= form_for(current_user, :remote => true,
                   :html => { :method => :put , :class => 'record_activity' }) do |f| %>
        <div class="email-signup">
          I
          <%= f.radio_button :record_activity, 'true', id: 'do-record' -%>
          <label class="" for="do-record"><span></span>want</label>
          <%= f.radio_button :record_activity, 'false', id: 'do-not-record' -%>
          <label class="" for="do-not-record"><span></span>do not want</label>
          <%= t :organization_abbreviation -%> to keep a record of actions I take
          on the site, to be used for features like leaderboards or to give out
          prizes to the most active action-takers.
          <%= token_tag(form_authenticity_token) %>
        </div>
        <%= submit_tag "Save", class: 'eff-button' %>
      <% end -%>
</div>
<div class="user-info">
      <h4>Delete your account</h4>
      <p>Click below to permanently delete your action center account.</p>

      <%= button_to "Delete my account", registration_path(current_user),
        data: { confirm: 'Are you sure you want to permanently delete your account?' },
        method: :delete, class: 'eff-button' %>

      <p style="margin-top: 12px">Please note that this does not affect your newsletter subscriptions or <%= t :organization_abbreviation -%> membership.</p>
</div>
<div class="user-info">

      <h4>Change your email preferences</h4>
      <% if current_user.contact_id! -%>
        <p>Click below to change your EFF newsletter subscriptions.</p>
        <%= link_to "Edit subscriptions",
          edit_subscription_path(current_user),
          :class => 'eff-button' -%>
      <% else -%>
        <form action="https://supporters.eff.org/" method="post" id="eff-supporters-library-account-form" accept-charset="UTF-8" _lpchecked="1" role="form">
          <p>Want to change your EFF newsletter subscriptions? Click below and we'll email <%= current_user.email %> with instructions.</p>
          <div class="form-group">
            <label for="edit-email" class="sr-only">Email Address </label>
            <input type="hidden" name="email" value="<%= current_user.email %>">
          </div>
          <input type="submit" id="edit-submit" name="op" value="Send me a link" class="eff-button" role="button" aria-pressed="false">
          <input type="hidden" name="form_build_id" value="form-w4OjonMGPm3-u3bgN5jbX43pS-archmsJkVORQvdPZ4">
          <input type="hidden" name="form_id" value="eff_supporters_library_account_form" >
        </form>
      <% end -%>
      </div>
      </div>
    </div>
  </div>
</div>
