<% content_for(:nav) { render "admin/action_pages/action_page_nav" } %>
<h2>Signatures for <%= @actionPage.title %></h2>
<% signatures_count = @petition.signatures.count %>
<h3><%= signatures_count %> Signatures</h3>

<% if can?(:export_signatures) %>
  <% if @petition.enable_affiliations? %>
    <%= form_tag(affiliation_csv_admin_petition_path(@petition), method: :get, id: "export_signatures") do %>
      <div>
        <%= select_tag :institution_id, options_for_select(@petition.signatures.institutions), include_blank: "Location/Institution" %>
      </div>
      <%= submit_tag "Download CSV", class: "btn btn-default btn-sm", data: { disable_with: false } %>
    <% end %>
  <% else %>
    <%= link_to "Download CSV", presentable_csv_admin_petition_path(@petition), class: "btn btn-default btn-sm" %>
  <% end %>
<% end %>

<% unless signatures_count.zero? %>
    <%= form_tag admin_action_page_petition_path(@actionPage, @petition), id: "filter_petitions", method: "get" do %>
      <%= label_tag :query, "Filter by name or e-mail", class: "sr-only" %>
      <%= text_field_tag :query, params[:query], placeholder: "Filter by name or email", class: "form-control input-sm" %>
      <%= submit_tag "Search", class: "btn btn-sm btn-default" %>
    <% end %>

  <% if @signatures.exists? %>
    <%= form_tag signatures_admin_petition_path(@petition, @search_params), method: :delete do %>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Signed</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
          <% @signatures.each do |signature| %>
            <tr>
              <td><em><%= "#{signature.first_name} #{signature.last_name}" %></em></td>
              <td><em><%= signature.email %></em></td>
              <td class="timeago" title="<%= signature.created_at.to_time.iso8601 %>"><%= signature.created_at.to_time.iso8601 %></td>
              <td>
                <input type="checkbox" name="signature_ids[]" value="<%= signature.id %>"
                                                              title="<%= "Select #{signature.first_name} #{signature.last_name} for deletion" %>">
              </td>
            </tr>
          <% end %>

          <tr>
            <td colspan="3"></td>
            <td align="center">
              <%= submit_tag "Delete Selected", class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <strong>No signatures match this query</strong>
  <% end %>

  <%= will_paginate @signatures -%>
<% end %>
