<% content_for :head do -%>
  <%= render 'welcome/meta_tags' -%>
<% end -%>
<div class="home">
  <div class="container">
    <h1><%= t :front_page_header_html -%></h1>
  </div>
</div>

<section class="featured-action">
  <% if @featuredActionPage -%>
    <div class="container">
      <div class="row">
        <div class="featured-image">
          <%= link_to image_tag(@featuredActionPage.featured_image.url) , action_page_path(@featuredActionPage) -%>
        </div>
        <div class="featured-text">
          <h5 class="category">Category placeholder</h5>
          <%= link_to action_page_path(@featuredActionPage) do %>
            <h2>
              <%= @featuredActionPage.title -%>
            </h2>
            <span class='eff-red-button'><%= t(:take_action) %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</section>

<section class="more-actions">
  <div class="container">
    <div class="row">
      <%- @actionPages.each do |actionPage| -%>
        <div class="the-actions">
          <div class="more-actions-image">
            <%= link_to image_tag(actionPage.featured_image.url), action_page_path(actionPage) %>
          </div>
          <h5 class="category">Category placeholder</h5>
          <div class="more-actions-text">
            <%= link_to action_page_path(actionPage) do%>
            <h3><%= actionPage.title -%></h3>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="see-all">
      <a href="/action"><%= I18n.t(:see_all_campaigns) -%></a>
    </div>

  </div>

</section>
<!--
<section class="mobile-apps">
  <div class="container">
    <div class="col-sm-6 image">
      <%= image_tag("mobile-apps.png") %>
    </div>
    <div class="col-sm-6">
        <h3>Download the EFF mobile app</h3>
    </div>
  </div>
  </section>
-->
