<% content_for :head do -%>
  <%= render 'welcome/meta_tags' -%>
<% end -%>
<div class="home">
  <div class="container">
    <h1><%= t :front_page_header_html -%></h1>
  </div>
</div>

<section class="featured-action">
  <% if @featuredActionPage -%>
    <div class="container">
      <div class="row">
        <div class="featured-image">
          <%= link_to image_tag(@featuredActionPage.featured_image.url) , action_page_path(@featuredActionPage) -%>
        </div>
        <div class="featured-text">
          <% if @featuredActionPage.category.present? %>
            <h5 class="category">
              <%= @featuredActionPage.category.title %>
            </h5>
          <% end %>
          <%= link_to action_page_path(@featuredActionPage) do %>
            <h2>
              <%= @featuredActionPage.title -%>
            </h2>
            <span class="eff-button" role="button" aria-pressed="false"><%= t(:take_action) %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</section>

<section class="more-actions">
  <div class="container">
    <div class="row">
      <%- @actionPages.each do |actionPage| -%>
        <div class="the-actions">
          <div class="more-actions-image">
            <%= link_to image_tag(actionPage.featured_image.url), action_page_path(actionPage) %>
          </div>
          <% if actionPage.category.present? %>
            <h5 class="category">
              <%= actionPage.category.title %>
            </h5>
          <% end %>
          <div class="more-actions-text">

            <h3><%= actionPage.title -%>
            <%= link_to action_page_path(actionPage) do%>
            </h3>
            <p> <%= markdown actionPage.summary -%></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="see-all">
      <a href="/action"><%= I18n.t(:see_all_campaigns) -%></a>
    </div>

  </div>

</section>
