<div class="row">
  <div class="email-signup center-block">
    <%= form_for :subscription, url: subscriptions_path, remote: true,
                  html: { id: "subscription-form", class: "form-inline", role: "form" } do |f| -%>
      <%= invisible_captcha %>
      <%= token_tag(form_authenticity_token) %>
      <%= f.hidden_field :mailing_list, value: "effector" -%>
      <div class="form-group">
        <%= f.label :email, "Email address", class: "sr-only" -%>
        <%= f.email_field :email, value: current_email,
                          class: "form-control", placeholder: "your@email.com", required: "required" -%>
      </div>
      <%= f.submit "Get email alerts", class: "eff-button", name: "commit" -%>
    <% end %>
    <%= render "tools/loading" -%>
  </div>
</div>
