<%= form_for([:admin, @institution_set]) do |f| %>
  <% if @institution_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution_set.errors.count, "error") %> prohibited this institution_set from being saved:</h2>

      <ul>
      <% @institution_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name" -%>
    <%= f.text_field :name, class: "form-control"  -%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" -%>
  </div>
<% end %>
