<%= render 'admin/header' -%>
<div class='container-fluid'>
  <div class="tabs-left">
    <%= render 'admin/nav_tabs' -%>
    <!-- Tab panes -->
    <div class="tab-content responsive">
      <div class="tab-pane active" id="institutions">
        <p id="notice"><%= notice %></p>

        <h3>
          <%= @institution_set.name -%>
          <%= link_to 'Edit name', edit_admin_institution_set_path(@institution_set),
          class: 'btn btn-xs btn-primary' %>
        </h3>

        <table class='table-striped table table-simple'>
          <thead>
            <tr>
              <th>Institution Name</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @institution_set.institutions.each do |institution| -%>
              <tr>
                <td> <%= institution.name -%> </td>
                <td>
                  <div class='btn-group'>
                    <%= link_to 'Edit', [:edit, :admin, @institution_set, institution], class: 'btn btn-sm btn-success' %>
                    <%= link_to 'Delete', [:admin, @institution_set, institution], class: 'btn-sm btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </td>
              </tr>
            <% end -%>
            <tr>
              <td>
                <%= link_to [:new, :admin, @institution_set, :institution], class: 'btn btn-sm btn-primary' do %>
                  <i class="icon-doc-new"></i> Add new institution
                <% end %>
              </td>
              <td colspan="4"></td>
            </tr>
          </tbody>
        </table>

        <%= link_to 'Back', admin_institution_sets_path %>

      </div>
    </div>
  </div>
</div>