<tr>
  <td>
    <%= bioguide_id %>
  </td>
  <td>
    <% if(name == "Total"){ %>
      <b><%= name %></b>
    <% } else { %>
      <%= name %>
    <% } %>
  </td>
  <td>
    <% if(name == "Total"){ %>
      <b><%= count %></b>
    <% } else { %>
    <%= count %>
    <% } %>
  </td>
  <td>
    <% if(name != "Total"){ %>
      <a class="btn btn-default btn-sm" href="<%= staffer_report_url %>"><i class="icon-clipboard"></i> Staffer Report</a>
    <% } %>
  </td>
</tr>
