<% content_for(:nav) { render "admin/nav" } %>

<div class="grid">
  <%= form_tag admin_users_path(anchor: "users"), id: "filter_users", method: "get" do %>
    <div class="form-item">
      <%= label_tag :query, "Query", class: "sr-only" %>
      <%= text_field_tag :query, params[:query], placeholder: "Filter by name or email", class: "form-control input-sm" %>
    </div>

    <div class="form-actions">
      <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>

  <table class="table striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>First</th>
        <th>Last</th>
        <th></th>
    </thead>

    <% @users.each do |user| -%>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td>
          <% if user.admin? %>
            <%= button_to "Admin", "#", { "class": "btn btn-sm", "disabled": true } %>
          <% elsif user.collaborator? %>
            <%= button_to "Remove as collaborator", admin_user_path(user, @add_or_remove_params),
                          { method: :patch, params: { "user[collaborator]": "0" },
                            "class": "btn btn-sm" } %>
          <% else %>
            <%= button_to "Add as collaborator", admin_user_path(user, @add_or_remove_params),
                          { method: :patch, params: { "user[collaborator]": "1" },
                            "class": "btn btn-sm" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate @users %>
