<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') -%>">
  <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
  <link rel="alternate" type="application/atom+xml" title="<%= t :site_title -%>" href="/action.atom" />

  <title><%= page_title -%></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= yield(:head) if content_for?(:head) -%>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    // Remove the no-js class from <html> if js is loading
    document.documentElement.className = document.documentElement.className.replace("no-js", "js");
  </script>
</head>

<body class="<%= current_user ? 'logged-in' : '' %> <%= controller.controller_name  + "-" +action_name %>">

  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="wrapper">
      <nav role="navigation" aria-label="navigation">
        <div class="nav-wrapper">
            <a href="/" class="menu-logo" alt="Site logo">&nbsp;</a>

          <div class="nav-modal-container">
            <input id="nav-modal-toggle" type="checkbox">
            <button>&#x2261;</button>
            <div class="nav-modal-backdrop">
              <div  class="nav-modal-content" id="nav-menu" role="navigation" aria-label="navigaton">
                  <ul>
                    <li><a href="/action">EFF Campaigns</a></li>
                    <% if user_signed_in? %>
                      <% if can?(:administer_actions) && controller_name == "action_page" && @actionPage -%>
                        <li><%= link_to "Edit this page", edit_admin_action_page_path(@actionPage) -%></li>
                        <% end %>

                        <% if current_user.privileged_role? %>
                          <li><%= link_to("Admin", "/admin/action_pages") %></li>
                        <% end %>

                        <% if current_user.partner? %>
                          <li><%= link_to "Partner Dashboard", current_user.partner -%></li>
                        <% end %>

                        <li><%= link_to("Account", "/account") %></li>
                        <li>
                          <%= form_for current_user, url: destroy_user_session_path, method:  :delete, html: { class: "nav-form-link" } do |f| %>
                          <%= f.submit "Logout" %>
                          <% end %>
                        </li>
                    <% else %>
                      <li><%= link_to("Register", new_user_registration_path)  %></li>
                      <li><%= link_to("Login", new_user_session_path)  %></li>
                    <% end %>
                    <li><a href="https://eff.org">EFF.org</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>


      <% if content_for?(:content) -%>
        <%= yield(:content) -%>
      <% else -%>
        <%= yield %>
      <% end -%>

  </div>

  <div class="footer">
    <div class="container">
      <div class="logo">
          <a href="https://www.eff.org"><span class="sr-only">Electronic Frontier Foundation</span></a>
      </div>
      <div class="footer-nav">
        <a class="flex-item" target="_blank" href="https://www.eff.org/thanks" class="hidden-xs">Thanks</a>
        <a class="flex-item"target="_blank" href="https://www.eff.org/rss">RSS Feeds</a>
        <a class="flex-item"target="_blank" href="https://www.eff.org/copyright" class="hidden-xs">Copyright Policy</a>
        <a class="flex-item"target="_blank" href="https://www.eff.org/policy">Privacy Policy</a>
        <a class="flex-item"target="_blank" href="https://github.com/EFForg/action-center-platform" class="hidden-xs">Open Source</a>
        <a class="flex-item"target="_blank" href="https://www.eff.org/about/contact">Contact</a>
        </div>
      </div>
    </div>


  <%= javascript_include_tag "application" %>

  <%= matomo_tracking_embed %>

  <%= yield(:body) if content_for?(:body) -%>
</body>
</html>
